# 2011-04-13, Only the good lord knows where this came from.
# 2014-01-26, Yea and I say unto you: It was imported from a totally
# different project you fool!
Makefile
MYMETA.*
MANIFEST.bak
*.old
*.swp
*~
blib
pm_to_blib

